@import '../variables';

.inputBody {
    width: 15%;
    height: 80%;
    margin-top: 79px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 8px 10px;
    font-family: $fontFamilyTwo;
    font-size: 24px;
}

.inputBody ul {
    list-style-type: none;
    padding: 15px;
    height: 100%;
}

.inputBody li {
    padding: 8px;
    margin-bottom: 10px;
}

#minPrice,
#maxPrice {
    width: 140px;
}

.btn {
    width: 90px;
    color: white;
    font-size: 20px;
    &:hover {
        box-shadow: 0 0 8px black;
    }
}